$surface-strongest: #f9fbff;
$surface-strong: #fafbff;
$surface-moderate: #fbfcff;
$surface-weak: #fdfdff;
$surface-weakest: #fff;

$white-strongest: rgb(249, 252, 255);
$white-strong: rgba(249, 252, 255, 0.87);
$white-moderate: rgba(249, 252, 255, 0.34);
$white-weak: rgba(249, 252, 255, 0.14);
$white-weakest: rgba(249, 252, 255, 0.06);

$black-strongest: rgb(77, 77, 77);
$black-strong: rgba(77, 77, 77, 0.87);
$black-moderate: rgba(77, 77, 77, 0.42);
$black-weak: rgba(77, 77, 77, 0.15);
$black-weakest: rgba(77, 77, 77, 0.06);

$red-normal: rgb(249, 174, 161);
$red-light:rgb(250, 190, 179);
$orange-normal: rgb(255, 210, 127);
$orange-light: rgb(255, 219, 152);
$yellow-normal: rgb(224, 194, 93);
$yellow-light: rgb(246, 226, 132);
$green-normal: rgb(216, 220, 182);
$green-light: rgb(223,227,196);
$cyan-normal: rgb(186, 194, 219);
$cyan-light: rgb(199, 206, 226);
$blue-normal: rgb(173, 200, 255);
$blue-light: rgb(189, 211, 255);
$accent-normal: rgb(221, 211, 249);
$accent-light: rgb(227, 219, 250);
$pink-normal: rgb(255, 223, 233);
$pink-light: rgb(255, 232, 239);

$accent-primary: $accent-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
