@use '../colors';
@use '../config';

list {
  background: colors.$surface-strongest;
  color: colors.$black-strong;
  row {
    background: colors.$surface-strong;
    padding: config.$spacing-medium;
    &:hover {
      background: transparentize(colors.$black-weak, 0.1);
    /*  colorswatch {
        border: 0.2em solid colors.$black-strong;
     }*/
    }
    &:selected {
      background: transparentize(colors.$accent-light, 0.5);
    }
  }

  > label {
    padding: config.$spacing-small;
  }
}
