@use '../colors';
@use '../config';

list {
  background: colors.$surface-strongest;
  color: colors.$black-strong;
  row {
    background: colors.$surface-strong;
    padding: config.$spacing-medium;
    &:hover,&:selected {
      background: colors.$accent-light;
    }
  }

  > label {
    padding: config.$spacing-small;
  }
}
