@use '../colors';

scale {
  padding: 8px 0;

  contents {

    trough {
      background: colors.$black-weakest;
      slider {
        // background: darken(colors.$surface-moderate, 15%);
        background: colors.$accent-normal;
        padding: 4px;
        margin: -4px;
        border-radius: 100%;
        border: 2px solid transparent;
      }
      highlight {
        border-radius: 1em;
        background: colors.$accent-light;
      }
    }
  }

  // TODO: marks can be at the top or bottom, maybe also on the right or left depending on scale.horizontal/vertical
  marks {
    mark {
      padding-top: 5px;
      indicator {
        color: colors.$black-moderate;
        min-height: 8px;
        min-width: 1px;
      }
    }
  }

  &:disabled { opacity: 0.3; }
}
