@use '../colors';

scrollbar {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;

  slider {
    padding: 0.2em;
    border-radius: 1em;
    background: colors.$black-weakest;
    &:hover { background: colors.$black-weak;}
    &:active { background: colors.$accent-primary; }
  }
}
