@use 'sass:color';
@use '../colors';
@use '../config';

switch {
  background: colors.$black-weakest;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  margin: 0.8em 0;
  border: config.$border-size solid colors.$accent-normal;
  border-radius: 1em;
  background-clip: border-box;

  slider {
    background: colors.$black-moderate;
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
    min-width: 1em;
    min-height: 1em;
    margin: 0.2em;
    border-radius: 9999px;
    box-shadow: none;
  }
  :nth-child(2) { color: transparent; }
  :nth-child(3) { color: colors.$black-moderate; }

  &:checked {
    background: color.change(colors.$accent-primary, $alpha: config.$tint-weak);
    
    slider {
      background: colors.$black-strong;
    }

    :nth-child(2) { color: colors.$black-strong; }
    :nth-child(3) { color: transparent; }
  }

  &:disabled { opacity: config.$disabled-opacity; }

  &:hover {
    slider {
      box-shadow: 0 0 0 config.$spacing-small colors.$black-weak;
    }

    &:checked slider {
      box-shadow: 0 0 0 config.$spacing-small color.change(colors.$accent-primary, $alpha: config.$tint-weak);
    }
  }
  image {
   margin: -8px;
    -gtk-icon-transform: scale(0);
    }
}
