@use '../colors';
@use '../config';

toolbar, .toolbar {
  background: colors.$surface-strong;
  color: colors.$black-strong;
  padding: config.$spacing-medium;
 
  &.osd {
    background: colors.$white-strong;
    padding: config.$spacing-medium;
    border: 2px solid colors.$black-weak;
    border-radius: config.$radius;
  }
  button, scale {
    padding: 4px;
  }
  // temporarily fixes? nemo's toolbar button spacing issue
  button {
    label {
      margin-right: 3px;
      margin-left: 3px;
    }
    image {
      margin: auto;
    }
  }
  scale {
    trough {
      highlight {
        background: colors.$accent-normal;
      }
    }
    } 
}
